@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot");
    src: local('Open Sans'), local('OpenSans'), url("../font/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot") format('embedded-opentype'), url("../font/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    outline: none;
    &:hover {
        text-decoration: none;
    }
}


/*----------------------------------------------------
 2. Document Setup
------------------------------------------------------*/

.wrapper {
    width: 100%;
}

.noPadd {
    padding: 0px !important;
}

.container .row {
    margin: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    padding-bottom: 38px;
    margin: 0px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    line-height: 57px;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 8px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 0px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
    border-bottom: #ef7674 6px solid;
    padding-bottom: 9px;
    display: inline-block;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 3px;
    font-weight: 400;
    margin: 0px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 600;
    margin: 0px;
    color: #5b4c5c;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0px;
}

.heading {
    text-align: center;
    padding-bottom: 45px;
}

.container {
    max-width: 1080px;
    /*padding:0;*/
}


/*----------------------------------------------------
 3. Header Part
------------------------------------------------------*/

header {
    position: relative;
}

.banner {
    overflow: hidden;
    margin: 0 auto !important;
    background: #CACACA;
    display: none;
}

.bannerText {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    text-align: center;
    padding: 30px 0 30px;
    max-width: 960px;
    z-index: 2;
    animation-name: textBox;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: textBox;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.bannerText p {
    font-size: 18px;
    color: #fff;
    padding-bottom: 42px;
}

.mbnt {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background-color: #EF7674;
    text-transform: uppercase;
    padding: 0 29px;
    margin: 0 10px;
    text-decoration: none;
    outline: none;
}

.mbnt:focus,
.mbnt:hover,
.mbnt:active {
    color: #eaeaea;
    text-decoration: none;
    outline: none;
}

.bannerText h1 {
    text-transform: uppercase;
}


/*------------------------------------
    3.1 Slide show background control
--------------------------------------*/


/*---------------------------------------------------------------------------------
 4. Background slider CSS style
-------------------------------------------------------------------------------*/


/* Grid wrapper sizes */


/* Shadow style */


/*----------------------------------------------------
 5. Menu Style
------------------------------------------------------*/

.menu {
    margin-top: 0px;
    position: static;
    left: 0px;
    right: 0px;
}

.navwrapper .container {
    padding: 0;
    width: auto;
}

.navbar-header {
    display: none;
}

.nav > li > a {
    display: inline-block;
}

.navbar-nav > li {
    float: none;
    display: inline;
}

.navbar-nav {
    margin: 0 auto;
    text-align: center;
    float: none;
}

.navbar-toggle {
    margin-top: 8px;
    background-color: #4c404d;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {}

.navbar-brand {
    margin-top: 4px;
}

.nav .menuItem a {
    font-size: 19px;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    margin-top: 0px;
    position: relative;
    z-index: 15;
    background: #ffffff;
}

.navbar-wrapper .container {
    padding: 0px;
}

.navbar-collapse {
    padding: 0;
}

.isStuck {
    left: 0;
    width: 100%;
}

.navbar.navbar-inverse.navbar-static-top {
    margin: 0px auto;
    background: #ffffff;
    color: #4c404d;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar.navbar-inverse.navbar-static-top a.navbar-brand {
    line-height: 43px;
}

.navbar.navbar-inverse.navbar-static-top a {
    color: #4c404d;
    padding: 0 26px;
    line-height: 140px;
    text-align: center;
    font-weight: 800;
    // transition-duration: 0.2s;
    // -webkit-transition-duration: 0.2s;
}

.navbar.navbar-inverse.navbar-static-top .nav li.first {
    padding-left: 0;
}

.navbar.navbar-inverse.navbar-static-top .nav li {
    padding: 0 18px 0 18px;
}

.navbar.navbar-inverse.navbar-static-top .nav li a {
    padding: 0;
    letter-spacing: -1px;
}

.navbar.navbar-inverse.navbar-static-top a:hover {
    background: #ffffff;
    color: #ef7674;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus {
    background: #ffffff;
    /*color:#c3c8d6;*/
    color: #ef7674;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background: #ffffff;
    /*color:#c3c8d6;*/
    color: #ef7674;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    /*background:#1b1f29;*/
    /*color:#fff;*/
    background: #ffffff;
    color: #ef7674;
}


/* Since positioning the image, we need to help out the caption */


/* Declare heights because of positioning of img element */


/*----------------------------------------------------
 6. About me Style
------------------------------------------------------*/

.aboutme {
    background: #f3f2f3;
    color: #897f8a;
    position: relative;
}

.aboutme .container {
    padding-top: 140px;
    padding-bottom: 90px;
}

.aboutCont {
    // padding-bottom: 78px;
    // padding-left: 48px;
}

#description {
    // height: 250px;
    overflow: hidden;
    position: relative;
    // padding-right: 50px;
    margin-bottom: 60px;
    text-align: justify;
}

#description p {
    padding-bottom: 10px;
}

.btnDownload {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 3px solid #5b4c5c;
    padding: 10px 10px;
    display: inline-block;
    color: #5b4c5c;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    margin-bottom: 10px;
}

.btnDownload:hover {
    background: #5b4c5c;
    color: #ffffff;
    text-decoration: none;
}

.aboutme .heading {
    text-align: center;
    padding-top: 78px;
    padding-bottom: 26px;
}

.aboutme .heading h2 {
    color: #5b4c5c;
    display: inline-block;
}


/*----------------------------------------------------
 7. Technical Skills Style
------------------------------------------------------*/

.technical {
    /*background:#eeeeee;
    color:#474d5d;*/
}

.technical .container {
    padding-top: 140px;
    padding-bottom: 90px;
}

.technical .heading p {
    padding-bottom: 41px;
    max-width: 660px;
    text-align: justify;
    display: block;
    margin: 0 auto;
}

.technical p {
    color: #897f8a;
}

.technical h2 {
    color: #5b4c5c;
    margin-bottom: 49px;
}

.technical .skillsArea {
    padding: 0px;
}

.technical .skills {
    margin: 0 auto;
    margin-bottom: 23px;
    text-align: center;
    padding: 0px;
    float: none;
}

.technical .skills h4 {
    font-weight: 700;
    // text-transform: uppercase;
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 11px;
    color: #5b4c5c;
}

.skilBg {
    /*background:url(../images/skills.png) no-repeat 0 0;*/
}

.chart {
    position: relative;
    display: inline-block;
    width: 118px;
    height: 118px;
    margin-bottom: 19px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    font-size: 21px;
    color: #5b4c5c;
    line-height: 118px;
    z-index: 2;
    font-weight: bold;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}


/*----------------------------------------------------
 8. Work Experience Style
------------------------------------------------------*/

.exprience {
    background: #f8f7f8;
}

.exprience .container {
    padding-top: 140px;
    padding-bottom: 90px;
}

.exprience h2 {
    color: #5b4c5c;
    margin-bottom: 41px;
}

.exprience p {
    color: #84868d;
    /*font-size:13px;*/
    line-height: 18px;
}

.exprience .heading p {
    padding-bottom: 54px;
    max-width: 660px;
    text-align: justify;
    display: block;
    margin: 0 auto;
    color: #897f8a;
    line-height: 27px;
}

.exprience h4 {
    font-weight: 700;
}

.workDetails .rightArea {
    border-left: dashed 1px #897f8a;
    padding-bottom: 47px;
}

.workDetails:last-child .rightArea {
    padding-bottom: 0px;
}

.workDetails:last-child .rightArea .exCon p:last-child {
    padding-bottom: 0;
}

.workYear {
    font-size: 17px;
    color: #fff;
    line-height: 40px;
}

.workYear span {
    display: block;
    font-size: 18pxpx;
    padding: 0 21px;
    white-space: nowrap;
    float: right;
    margin-bottom: 2px;
    margin-right: 28px;
    font-weight: bold;
}

.prevY {
    background-color: #ef7674;
}

.afterY {
    background-color: #483c49;
}

.arrowpart {
    margin-left: -26px;
    margin-top: 32px;
    float: left;
    width: 22px;
    height: 22px;
    background: url(../images/arrow-left.png) no-repeat 0 0 #f8f7f8;
}

.exCon {
    width: auto;
    padding: 0 47px 6px 70px;
    margin-left: 15px;
    text-align: left;
}

.exCon p {
    color: #897f8a;
    line-height: 27px;
}

.exCon h4 {
    color: #5b4c5c;
    padding-bottom: 1px;
    margin-top: -8px;
}

.exCon h5 {
    color: #5b4c5c;
    padding-bottom: 11px;
}


/*----------------------------------------------------
 9. Education Style
------------------------------------------------------*/


/*----------------------------------------------------
 10. Protfolio Style
------------------------------------------------------*/


/*----------------------------------------------------
 14. Reffernces Style
------------------------------------------------------*/

.reffernces {}

.reffernces .container {
    padding-top: 140px;
    padding-bottom: 90px;
}

.reffernces h2 {
    color: #5b4c5c;
    margin-bottom: 49px;
}

.reffernces .heading p {
    padding-bottom: 41px;
    max-width: 660px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.reffernces p {
    color: #897f8a
}

.refBox {
    margin-bottom: 18px;
}

.refBoxcon {
    background: #FFF;
    padding: 50px 34px 41px;
    border-bottom: #e6e6e6 5px solid;
}

.refBoxcon p {
    color: #897f8a;
    font-size: 15px;
    line-height: 27px;
    padding-bottom: 38px;
}

.refBoxcon h3 {
    text-align: right;
    color: #4c404d;
    font-size: 18px;
    font-weight: bold;
}

.refBoxcon h3 a {
    text-decoration: underline;
    color: #ef7674;
}

.refBox {
    padding: 0 10px;
}


/*----------------------------------------------------
 11. Get in tuch Style
------------------------------------------------------*/

.contact {
    background: #f8f7f8;
}

.contact .container {
    padding-top: 140px;
    padding-bottom: 90px;
}

.contact h2 {
    color: #5b4c5c;
    margin-bottom: 45px;
}

.topCon {
    padding-bottom: 0px !important;
}

.contactDetails {
    background: #f8f7f8;
}

.contactDetails .container {
    padding-top: 15px;
    padding-bottom: 30px;
}

.contactDetails h4 {
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.contactDetails p {
    color: #897f8a;
    font-size: 15px;
    line-height: 19px;
    padding-bottom: 14px;
}

.contactDetails p a {
    color: #897f8a;
}

.contactDetails p a:hover {
    color: #5b4c5c;
    text-decoration: none;
}

.contactDetails i {
    padding-right: 15px;
}


/*----------------------------------------------------
 12. Footer Style
------------------------------------------------------*/

.footer {
    background: #3b323c;
}

.footer .container {
    padding: 115px 0 125px;
    position: relative;
}

.footer ul {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    text-align: center;
    background: #ffffff;
    color: #3b323c;
    line-height: 42px;
    margin: 0 6px;
    width: 51px !important;
    height: 51px !important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.footer ul li:hover {
    background: #282429;
}

.footer ul li:hover a {
    color: #fff;
}

.footer ul li a {
    color: #3b323c;
    width: 51px !important;
    height: 51px !important;
}

.footer ul li a i {
    line-height: 52px !important;
}

.totop {
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: #302931;
    color: #817a82;
    line-height: 42px;
    bottom: 0;
    left: 50%;
    margin-left: -21px;
    cursor: pointer;
    text-align: center;
}


/*---------------------------------------------------------------------------------
 13. Responsive style
-------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {
    .workYear {
        /*width:140px;
 height:140px;
 padding-top:50px;*/
    }
}

@media screen and (max-width: 999px) {
    .navbar.navbar-inverse.navbar-static-top .nav li {
        padding-left: 25px;
    }
    .navbar.navbar-inverse.navbar-static-top a {
        line-height: 140px;
    }
    .nav .menuItem a {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .navbar.navbar-inverse.navbar-static-top a {
        /* padding-left:12px;
 padding-right:12px;
 font-size:12px;*/
    }
    .bannerText {
        padding-left: 25px;
        padding-right: 25px;
    }
    .bannerText h1 {
        font-size: 65px;
        line-height: 71px;
    }
}

@media screen and (max-width: 810px) {
    body {
        min-height: 700px;
    }
    .navbar.navbar-inverse.navbar-static-top a {
        /* padding-left: 17px;*/
    }
}

@media screen and (max-width: 992px) {
    .aboutme {
        padding: 15px;
    }
}

@media screen and (min-width: 768px) {
    .aboutme {
        /*padding:15px;*/
    }
}

@media screen and (max-width: 768px) {
    .navbar-wrapper .container,
    .navwrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar.navbar-inverse.navbar-static-top a {
        line-height: 43px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-header {
        display: block;
    }
    .workYear {
        margin: 0 auto 20px;
        overflow: hidden;
    }
    .workYear span {
        width: 100%;
        margin-right: 0;
    }
    .workDetails .rightArea {
        border-left: none;
    }
    .arrowpart {
        /* float:none;
 width:100%;
 height:40px;
 background:url(../images/arrow-top.png) no-repeat 50% 100%;*/
        background: none;
    }
    .exCon {
        margin-left: 0px;
        padding: 0;
    }
    ul.navbar-nav li a {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    #wrapper {
        top: 200px !important;
    }
    .bannerText {
        top: 25%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .bannerText h1 {
        font-size: 42px;
        line-height: 48px;
    }
}

@media screen and (max-width: 480px) {
    .navbar.navbar-inverse.navbar-static-top a {
        line-height: 17px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .navbar.navbar-inverse.navbar-static-top a.navbar-brand {
        line-height: 22px;
    }
    .bannerText {
        top: 10%;
    }
    .bannerText h1 {
        font-size: 34px;
        line-height: 38px;
    }
    .bannerText p {
        font-size: 16px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 400px) {
    .bntDownload {
        font-size: 13px;
        padding: 16px 14px;
    }
}

.comments {
    margin-top: 15px;
}

.comments h4 {
    padding-bottom: 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Microsoft YaHei', sans-serif;
}

a:hover {
    text-decoration: none;
}
