* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
#carousel {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#carousel .item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#carousel .item img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
#carousel #nav {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 30px;
  background: #000000;
  background: rgba(0, 0, 0, 0.3);
}
#carousel #nav li {
  margin: 0 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  list-style: none;
  display: inline-block;
}
#carousel #nav li i {
  -webkit-transition: 0.5s all;
          transition: 0.5s all;
  border-radius: 20px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  height: 10px;
  width: 10px;
  margin-top: 10px;
  display: inline-block;
}
#carousel #nav li.active i {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  background: #ffffff;
}
#carousel #pre,
#carousel #next {
  -webkit-transition: 0.4s all;
          transition: 0.4s all;
  position: absolute;
  color: #fff;
  background: #000000;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  border-radius: 100px;
  top: 50%;
  margin-top: -34px;
  cursor: pointer;
}
#carousel #pre:hover,
#carousel #next:hover,
#carousel #pre:active,
#carousel #next:active {
  background: #000000;
}
#carousel #pre {
  left: 15px;
}
#carousel #next {
  right: 15px;
}
