::-webkit-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.container {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  max-width: 640px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}
/*
    2015.3.15 for 腾讯财付通TID团队招聘 - 网页重构
    author:唐泽雄
    site:cody1991.github.io/aboutme
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes starShine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes starShine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes open {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(20deg);
            transform: perspective(400px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateY(20deg);
            transform: perspective(400px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
            transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes wordBubble {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  40% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  65% {
    -webkit-transform: scale3d(0.98, 1.02, 1);
    transform: scale3d(0.98, 1.02, 1);
  }
  75% {
    -webkit-transform: scale3d(1.02, 0.98, 1);
    transform: scale3d(1.02, 0.98, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes wordBubble {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  40% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  65% {
    -webkit-transform: scale3d(0.98, 1.02, 1);
    transform: scale3d(0.98, 1.02, 1);
  }
  75% {
    -webkit-transform: scale3d(1.02, 0.98, 1);
    transform: scale3d(1.02, 0.98, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes tada1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg);
            transform: scale(1) rotate(-8deg) skew(-7deg);
  }
  10%,
  20% {
    opacity: 1;
    -webkit-transform: scale(0.9) rotate(-3deg) skew(-7deg);
            transform: scale(0.9) rotate(-3deg) skew(-7deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg) skew(-7deg);
            transform: scale(1.1) rotate(3deg) skew(-7deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg) skew(-7deg);
            transform: scale(1.1) rotate(-3deg) skew(-7deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg);
            transform: scale(1) rotate(-8deg) skew(-7deg);
  }
}
@keyframes tada1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg);
            transform: scale(1) rotate(-8deg) skew(-7deg);
  }
  10%,
  20% {
    opacity: 1;
    -webkit-transform: scale(0.9) rotate(-3deg) skew(-7deg);
            transform: scale(0.9) rotate(-3deg) skew(-7deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg) skew(-7deg);
            transform: scale(1.1) rotate(3deg) skew(-7deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg) skew(-7deg);
            transform: scale(1.1) rotate(-3deg) skew(-7deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg);
            transform: scale(1) rotate(-8deg) skew(-7deg);
  }
}
@-webkit-keyframes tada2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
            transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
  }
  10%,
  20% {
    opacity: 1;
    -webkit-transform: scale(0.9) rotate(-3deg) skew(-7deg) translateY(-23px);
            transform: scale(0.9) rotate(-3deg) skew(-7deg) translateY(-23px);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg) skew(-7deg) translateY(-23px);
            transform: scale(1.1) rotate(3deg) skew(-7deg) translateY(-23px);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg) skew(-7deg) translateY(-23px);
            transform: scale(1.1) rotate(-3deg) skew(-7deg) translateY(-23px);
  }
  100% {
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
            transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
  }
}
@keyframes tada2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
            transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
  }
  10%,
  20% {
    opacity: 1;
    -webkit-transform: scale(0.9) rotate(-3deg) skew(-7deg) translateY(-23px);
            transform: scale(0.9) rotate(-3deg) skew(-7deg) translateY(-23px);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg) skew(-7deg) translateY(-23px);
            transform: scale(1.1) rotate(3deg) skew(-7deg) translateY(-23px);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg) skew(-7deg) translateY(-23px);
            transform: scale(1.1) rotate(-3deg) skew(-7deg) translateY(-23px);
  }
  100% {
    -webkit-transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
            transform: scale(1) rotate(-8deg) skew(-7deg) translateY(-23px);
  }
}
@-webkit-keyframes roundBg {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes roundBg {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  10% {
    -webkit-transform: translateX(-10%) rotate(-4deg);
            transform: translateX(-10%) rotate(-4deg);
  }
  20% {
    -webkit-transform: translateX(8%) rotate(3deg);
            transform: translateX(8%) rotate(3deg);
  }
  30% {
    -webkit-transform: translateX(-6%) rotate(-3deg);
            transform: translateX(-6%) rotate(-3deg);
  }
  40% {
    -webkit-transform: translateX(4%) rotate(2deg);
            transform: translateX(4%) rotate(2deg);
  }
  50% {
    -webkit-transform: translateX(-2%) rotate(-1deg);
            transform: translateX(-2%) rotate(-1deg);
  }
  60% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  10% {
    -webkit-transform: translateX(-10%) rotate(-4deg);
            transform: translateX(-10%) rotate(-4deg);
  }
  20% {
    -webkit-transform: translateX(8%) rotate(3deg);
            transform: translateX(8%) rotate(3deg);
  }
  30% {
    -webkit-transform: translateX(-6%) rotate(-3deg);
            transform: translateX(-6%) rotate(-3deg);
  }
  40% {
    -webkit-transform: translateX(4%) rotate(2deg);
            transform: translateX(4%) rotate(2deg);
  }
  50% {
    -webkit-transform: translateX(-2%) rotate(-1deg);
            transform: translateX(-2%) rotate(-1deg);
  }
  60% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rota {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rota {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
@keyframes opa {
  12.0% {
    opacity: 0.80;
  }
  19.5% {
    opacity: 0.88;
  }
  37.2% {
    opacity: 0.64;
  }
  40.5% {
    opacity: 0.52;
  }
  52.7% {
    opacity: 0.69;
  }
  60.2% {
    opacity: 0.60;
  }
  66.6% {
    opacity: 0.52;
  }
  70.0% {
    opacity: 0.63;
  }
  79.9% {
    opacity: 0.60;
  }
  84.2% {
    opacity: 0.75;
  }
  91.0% {
    opacity: 0.87;
  }
}
body {
  background-color: #1c1c3d;
}
.btn-state-1 {
  color: #18b4ed;
  background: transparent;
  border: 2px solid #18b4ed;
}
.btn-state-2 {
  color: #f9f9f9;
  background: #18b4ed;
  border-color: transparent;
}
.container {
  display: none;
}
.container.active {
  display: block;
}
.container .main-content {
  background: transparent url(../images/main-bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  text-align: center;
  color: #2ec0ec;
  height: auto;
}
.container .main-content .use-type {
  width: 100%;
}
.container .main-content .use-type li {
  padding-top: 5px;
  z-index: 99;
  overflow: hidden;
  width: 70px;
  position: absolute;
  -webkit-animation: flipInY 1s ease both;
          animation: flipInY 1s ease both;
}
.container .main-content .use-type li .round-bg {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: 56px;
  height: 56px;
  top: 3px;
  left: 7px;
  border-radius: 100px;
  -webkit-animation: roundBg 2s linear both infinite;
          animation: roundBg 2s linear both infinite;
}
.container .main-content .use-type li.type-1 img,
.container .main-content .use-type li.type-2 img,
.container .main-content .use-type li.type-3 img,
.container .main-content .use-type li.type-4 img,
.container .main-content .use-type li.type-5 img {
  position: relative;
  width: 52px;
  height: 52px;
  margin-bottom: 3px;
}
.container .main-content .use-type li.type-1 {
  left: 30%;
  top: 15px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container .main-content .use-type li.type-1 p {
  -webkit-animation: slideLeft 0.5s ease-in backwards;
          animation: slideLeft 0.5s ease-in backwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.container .main-content .use-type li.type-1 .round-bg {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
.container .main-content .use-type li.type-2 {
  left: 0;
  top: 34%;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.container .main-content .use-type li.type-2 p {
  -webkit-animation: slideLeft 0.5s ease-in backwards;
          animation: slideLeft 0.5s ease-in backwards;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.container .main-content .use-type li.type-2 .round-bg {
  -webkit-animation-delay: 5.8s;
          animation-delay: 5.8s;
}
.container .main-content .use-type li.type-3 {
  left: 5px;
  bottom: 25px;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}
.container .main-content .use-type li.type-3 p {
  -webkit-animation: slideLeft 0.5s ease-in backwards;
          animation: slideLeft 0.5s ease-in backwards;
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}
.container .main-content .use-type li.type-3 .round-bg {
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
}
.container .main-content .use-type li.type-4 {
  top: 20%;
  right: 6px;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}
.container .main-content .use-type li.type-4 p {
  -webkit-animation: slideRight 0.5s ease-in backwards;
          animation: slideRight 0.5s ease-in backwards;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}
.container .main-content .use-type li.type-4 .round-bg {
  -webkit-animation-delay: 6.1s;
          animation-delay: 6.1s;
}
.container .main-content .use-type li.type-5 {
  right: 5px;
  bottom: 60px;
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}
.container .main-content .use-type li.type-5 p {
  -webkit-animation: slideRight 0.5s ease-in backwards;
          animation: slideRight 0.5s ease-in backwards;
  -webkit-animation-delay: 5.9s;
          animation-delay: 5.9s;
}
.container .main-content .use-type li.type-5 .round-bg {
  -webkit-animation-delay: 6.7s;
          animation-delay: 6.7s;
}
.container .main-content .use-type li.mobile {
  z-index: 98;
  -webkit-animation: bounceIn 0.8s ease both;
          animation: bounceIn 0.8s ease both;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 110px 15px 20px;
}
.container .main-content .use-type li.mobile div {
  margin: 0 auto;
  width: 33%;
  min-width: 130px;
  position: relative;
}
.container .main-content .use-type li.mobile div img.mobile-main {
  -webkit-animation: pulse 1.1s 1.2s ease both 5;
          animation: pulse 1.1s 1.2s ease both 5;
  display: inline-block;
  width: 100%;
}
.container .intro-word {
  padding: 0 0 10px 0;
  text-align: center;
}
.container .intro-word img {
  -webkit-animation: wordBubble 1s 6.8s ease both;
          animation: wordBubble 1s 6.8s ease both;
  max-width: 90%;
}
.container .btn-group {
  padding-bottom: 40px;
  text-align: center;
  font-size: 20px;
}
.container .btn-group a {
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.1s all;
          transition: 0.1s all;
  width: 40%;
  display: inline-block;
  height: 54px;
  line-height: 50px;
  border-radius: 100px;
  color: #18b4ed;
  background: transparent;
  border: 2px solid #18b4ed;
}
.container .btn-group a.transfer-accounts:hover,
.container .btn-group a.share:hover,
.container .btn-group a.transfer-accounts:active,
.container .btn-group a.share:active {
  color: #f9f9f9;
  background: #18b4ed;
  border-color: transparent;
}
.container .btn-group a.transfer-accounts {
  -webkit-transform: rotate(-8deg) skew(-7deg) translateY(0);
      -ms-transform: rotate(-8deg) skew(-7deg) translateY(0);
          transform: rotate(-8deg) skew(-7deg) translateY(0);
  float: left;
  margin-left: 7%;
  -webkit-animation: tada1 1s ease both;
          animation: tada1 1s ease both;
  -webkit-animation-delay: 7.4s;
          animation-delay: 7.4s;
}
.container .btn-group a.share {
  -webkit-transform: rotate(-8deg) skew(-7deg) translateY(-23px);
      -ms-transform: rotate(-8deg) skew(-7deg) translateY(-23px);
          transform: rotate(-8deg) skew(-7deg) translateY(-23px);
  float: right;
  margin-right: 7%;
  -webkit-animation: tada2 1s ease both;
          animation: tada2 1s ease both;
  -webkit-animation-delay: 7.4s;
          animation-delay: 7.4s;
}
.container .star {
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0;
  -webkit-animation: starShine 1.6s linear forwards infinite;
          animation: starShine 1.6s linear forwards infinite;
  width: 5px;
  height: 5px;
}
.container .star-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.container .star-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.container .star-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.container .star-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.container .star-5 {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.container .star-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.container .star-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.container .star-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.container .star-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.container .star-10 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loading .bokeh {
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  font-size: 100px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100px;
  border: 1px solid rgba(150, 150, 150, 0.1);
  list-style: none;
}
#loading .bokeh li {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
#loading .bokeh li:nth-child(1) {
  left: 50%;
  top: 0;
  margin: 0 0 0 -10px;
  background: #00C176;
  -webkit-transform-origin: 50% 250%;
      -ms-transform-origin: 50% 250%;
          transform-origin: 50% 250%;
  -webkit-animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
          animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
}
#loading .bokeh li:nth-child(2) {
  top: 50%;
  right: 0;
  margin: -10px 0 0 0;
  background: #FF003C;
  -webkit-transform-origin: -150% 50%;
      -ms-transform-origin: -150% 50%;
          transform-origin: -150% 50%;
  -webkit-animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
          animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
}
#loading .bokeh li:nth-child(3) {
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -10px;
  background: #FABE28;
  -webkit-transform-origin: 50% -150%;
      -ms-transform-origin: 50% -150%;
          transform-origin: 50% -150%;
  -webkit-animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
          animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
}
#loading .bokeh li:nth-child(4) {
  top: 50%;
  left: 0;
  margin: -10px 0 0 0;
  background: #88C100;
  -webkit-transform-origin: 250% 50%;
      -ms-transform-origin: 250% 50%;
          transform-origin: 250% 50%;
  -webkit-animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
          animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
}
