.button_shadow {
    -webkit-box-shadow: 0 4px 3px #9e080d;
    -moz-box-shadow: 0 4px 3px #9e080d;
    box-shadow: 0 4px 3px #9e080d;
}
.button_shadow:active {
    -webkit-box-shadow: 0 1px 3px #9e080d inset;
}
.start_page {
    background: #282828;
    position: absolute;
    padding: 0;
    width: 100%;
    display: none;
}
.start_page .start_logo {
    margin: 0;
}
.start_page .start_logo .col-xs-12 {
    padding: 0;
}
.start_page .start_logo .col-xs-12 img {
    margin-top: 10px;
    margin-left: 10px;
    width: 25%;
    max-width: 100%;
}
.start_page .start_main {
    margin: 0;
    max-width: 640px;
    left: 3%;
    width: 94%;
    position: absolute;
    top: 25%;
    height: 50%;
    text-align: center;
}
.start_page .start_main.smd {
    -webkit-animation: smd 2s linear both;
}
.start_page .start_main .col-xs-12 {
    height: 100%;
    padding: 0;
}
.click_to_menu {
    display: block;
    width: 100%;
    position: relative;
    -webkit-perspective: 2000px;
    -webkit-transform-style: preserve-3d;
}
.click_to_menu img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 50;
    width: 96%;
    display: block;
    margin: 0 auto;
    left: 2%;
}
.click_to_menu img.logo {
    width: 70%;
    height: auto;
    margin-top: 30%;
    left: 15%;
    display: none;
}
.click_to_menu img.img_all {
    width: 100%;
    height: 98%;
    left: 0;
}
.click_to_menu img.img_all.rotate {
    -webkit-transform-origin: 50% 0%;
    -webkit-animation-name: img_all_rotate;
    -webkit-animation-duration: 2s;
    --webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}
.start_page .hand {
    position: absolute;
    width: 30%;
    left: 10%;
    bottom: -5px;
    -webkit-animation: hand 1.5s ease both infinite;
    -moz-animation: hand 1.5s ease both infinite;
    animation: hand 1.5s ease both infinite;
}
.start_page .hand img {
    position: relative;
    z-index: 99;
}
.start_page .hand .hand_after {
    z-index: 1;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    right: -10px;
    top: -10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-animation: Cscale 1.5s ease both infinite;
    -moz-animation: Cscale 1.5s ease both infinite;
    animation: Cscale 1.5s ease both infinite;
}
/* end start page */

.card {
    background: url(../images/card_bg.png) no-repeat left top;
    background-size: 100% 100%;
    overflow: hidden;
    min-height: 480px;
}
.card .row {
    height: 100%;
}
.card_main {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    font-size: 14px;
    z-index: 9;
    color: #e04336;
}
.card_main pre {
    color: inherit;
}
.card_main textarea, .card_main input {
    color: inherit;
    font-size: 16px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 3px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}
.card_main textarea:focus, .card_main input:focus {
    background: rgba(40, 40, 40, 0.85);
    border-width: 0;
}
.card_main input {
    text-align: right;
    width: 83%;
    float: right;
    font-size: 18px;
}
.card_main input::-webkit-input-placeholder {
    color: inherit;
    text-align: right;
}
/*.card_main input:disabled, .card_main textarea:disabled {
    color: #e04336;
}*/

.card_main p {
    position: relative;
    z-index: 9;
    margin: 0;
}
.card_main p:last-of-type input {
    text-align: right;
}
.send_card_text {
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    padding: 0;
}
.send_card_text span {
    -webkit-animation: show 5s ease both;
    -moz-animation: show 10s ease both;
    animation: show 10s ease both;
}
.down {
    top: -30px;
    position: absolute;
    -webkit-animation: down 10s ease both;
    -moz-animation: down 10s ease both;
    animation: down 10s ease both;
}
.item p {
    font-size: 12px;
}
.custom_card_btn {
    position: absolute;
    bottom: 30px;
    z-index: 5;
    width: 100%;
    text-align: center;
    z-index: 80;
}
.custom_card_btn a img {
    width: 25%;
    max-width: 100%;
}
.make_card_btn {
    position: absolute;
    bottom: 30px;
    z-index: 5;
}
.make_card_btn a {
    display: block;
    margin: 0 auto;
    width: 25%;
    text-align: center;
}
.make_card_btn a img {
    width: 100%;
    z-index: 80;
}
.make_card_nav {
    display: none;
    z-index: 10;
    position: absolute;
    bottom: -200px;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(40, 40, 40, 0.95);
}
#templet_list {
    display: block;
    padding-top: 14px;
    padding-bottom: 10px;
}
.templet_list_main {
    position: relative;
}
.templet_list_main .item {
    overflow: hidden;
}
.templet_list_main .item a {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.templet_list_main .item a:nth-child(2) {
    width: 34%;
}
.templet_list_main .item a > img {
    width: 60%;
    display: block;
    margin: 0 auto;
}
.templet_list_main .item a p {
    margin: 0;
}
.owl-theme .owl-controls {
    margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 0 7px;
}
.owl-controls {
    display: none;
}
.templet_back {
    z-index: 99;
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 29px;
    width: 50px;
}
.templet_back img {
    height: 18px;
    float: right;
}
.music_effect {
    line-height: 21px;
    position: absolute;
    left: 5px;
    overflow: hidden;
    z-index: 5;
    top: 5px;
}
.music_btn {
    color: #fff;
    float: left;
    height: 21px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    margin-right: 45px;
}
.music_btn select {
    outline: none;
    border: none;
    height: 21px;
    width: 58px;
    z-index: 9;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-appearance: none;
    opacity: 0;
    position: absolute;
}
.music_btn img {
    position: absolute;
    height: 16px;
    line-height: 16px;
}
.music_btn p {
    margin-bottom: 0;
    position: relative;
    font-size: 12px;
    left: 25px;
    line-height: 16px;
}
.effect_btn {
    float: left;
    overflow: hidden;
    color: #fff;
    z-index: 99;
}
.effect_btn * {
    float: left;
}
.effect_btn img {
    height: 18px;
    margin-right: 5px;
    line-height: 18px;
}
.effect_btn p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 18px;
}
.down_menu {
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    bottom: -60px;
    right: -60px;
    opacity: 0.8;
    -webkit-animation: right_tip_e 2s linear both infinite;
    -moz-animation: right_tip_e 2s linear both infinite;
    animation: right_tip_e 2s linear both infinite;
    z-index: 88;
}
.down_menu img {
    height: 60px;
}
#effect_list {
    padding-top: 10px;
    padding-bottom: 10px;
}
#effect_list .item {
    padding-top: 5px;
    padding-bottom: 5px;
}
#effect_list .item a > div.effect_item {
    overflow:hidden;
    width: 60%;
    margin: 0 auto;
    background: rgb(63, 62, 59);
    border: 1px solid rgb(255, 255, 255);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
#effect_list .item a div.effect_item img {
    padding: 3px;
}
#effect_list .item p {
    margin-top: 3px;
}
.item_select {
    position: absolute;
    right: 20%;
    bottom: 17px;
    width: 16px;
    height: 16px;
}
.beforeEffect {
    display: none;
    z-index: 99;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-right: 15px;
    left: 6px;
    /*    -webkit-animation: beforeEffect 1s ease normal infinite;
    -moz-animation: beforeEffect 1s ease normal infinite;
    animation: beforeEffect 1s ease normal infinite;*/
}
.nextEffect {
    display: none;
    z-index: 99;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 15px;
    right: 6px;
    /*    -webkit-animation: nextEffect 1s ease normal infinite;
    -moz-animation: nextEffect 1s ease normal infinite;
    animation: nextEffect 1s ease normal infinite;*/
}
.beforeEffect img, .nextEffect img {
    width: 15px;
}
.send_friend_main {
    z-index: 100;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #d23528;
    font-size: 16px;
    text-align: center;
}
.send_friend_main img {
    width: 75%;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.make_card_top {
    margin-left: -15px;
    margin-right: -15px;
    height: 27px;
    background: rgba(29, 29, 29, 0.8);
}
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: +2000;
    top: 0;
    left: 0;
    background: #282828;
}
.preloader .container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
}
.preloader img {
    width: 30%;
    left: 35%;
    top: 40%;
    position: absolute;
}
.spinner {
    top: 70%;
    left: 50%;
    z-index: 1;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -40px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
}
.spinner span {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;
    position: absolute;
    opacity: 0.7;
}
.spinner .ball-1 {
    z-index: 4;
    background-color: #815731;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
    animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
}
.spinner .ball-2 {
    z-index: 3;
    background-color: #323232;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
    animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
}
.spinner .ball-3 {
    z-index: 2;
    background-color: #d0701f;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
    animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
}
.spinner .ball-4 {
    z-index: 1;
    background-color: #d0511f;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
    animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
}
@-webkit-keyframes animateSway {
    0% {
        left: -20px
    }
    50% {
        left: 20px
    }
    100% {
        left: -20px
    }
}
@keyframes animateSway {
    0% {
        left: -20px
    }
    50% {
        left: 20px
    }
    100% {
        left: -20px
    }
}
@-webkit-keyframes animateScale {
    0% {
        -webkit-transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
    25% {
        -webkit-transform: translate(50%, 50%) scale(1);
        z-index: +1
    }
    50% {
        -webkit-transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
    75% {
        -webkit-transform: translate(50%, 50%) scale(0.25);
        z-index: -2
    }
    100% {
        -webkit-transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
}
@keyframes animateScale {
    0% {
        transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
    25% {
        transform: translate(50%, 50%) scale(1);
        z-index: +1
    }
    50% {
        transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
    75% {
        transform: translate(50%, 50%) scale(0.25);
        z-index: -2
    }
    100% {
        transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
}
@media all and (min-width: 640px) {
    .start_page {
        margin-left: 50%;
        left: -320px;
    }
}
