.cs3 {
    position: relative;
    display: block;
    z-index: 1;
}
.cs3-loader, .cs3-loader *, .cs3-view, .cs3-gallery, .cs3-gallery-thumbs {
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cs3-captions, .cs3-caption, .cs3-gallery-thumbs div {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cs3-view {
    position: relative;
    z-index: 1;
}
.cs3-slide, .cs3-loader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
    width: 600px;
    height: 300px;
}
.cs3-loader {
    overflow: visible;
    z-index: 50;
}
.cs3-active-slide {
    display: none;
    z-index: 20;
}
.cs3-slide img {
    width: 100%;
    height: 100%;
}
.cs3-view {
    width: 100%;
    height: 100%;
}
.cs3-slice {
    position: absolute;
    background-repeat: no-repeat;
}
.cs3-slices-block {
    position: absolute;
}
.cs3-loader canvas {
    position: absolute;
    left: 0;
    top: 0;
}
.cs3-front-face, .cs3-right-face, .cs3-back-face, .cs3-left-face, .cs3-top-face, .cs3-bot-face {
    position: absolute;
    left: 0;
    top: 0;
}
.cs3-top-face {
    background: #666;
}
.cs3-back-face {
    background: #555;
}
.cs3-bot-face {
    background: #222;
}
.cs3-right-face {
    background: #888;
}
.cs3-left-face {
    background: #444;
}
.cs3-fade-black {
    background: #000!important;
    background-image: none!important;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.cs3-preloader {
    background: rgba(0, 0, 0, 0.8) url(assets/pre-loader.gif) no-repeat center;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px #000;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    z-index: 60
}
.cs3-preloader-in {
    width: 25px;
    height: 25px;
    border: 3px solid #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50px;
    position: absolute;
    left: 5px;
    top: 4px;
    -webkit-animation-name: cs3-preloader-rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: cs3-preloader-rotate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: linear;
    -ms-animation-name: cs3-preloader-rotate;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: normal;
    -ms-animation-timing-function: linear;
    -o-animation-name: cs3-preloader-rotate;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: normal;
    -o-animation-timing-function: linear;
    animation-name: cs3-preloader-rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
@-webkit-keyframes cs3-preloader-rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes cs3-preloader-rotate {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes cs3-preloader-rotate {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes cs3-preloader-rotate {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Pagination */

.cs3-pagination {
    z-index: 200;
}
.cs3-pagination-switch {
    cursor: pointer;
}
