body {
    font-family: 'Microsoft YaHei', sans-serif;
}
.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
}
.container > * {
    margin: 0;
    padding: 0;
}
.container {
    background: #f9f9f9;
}
.user_top {
    background: url(../images/index_head_wrapper_bg.png) no-repeat top left;
    background-size: 100% 100%;
    width: 100%;
    height: 100px;
}
.user_head_wrapper {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
    border: 3px #fff solid;
    position: relative;
    top: 35px;
}
.user_head_wrapper a {
    display: block;
}
.user_head_wrapper img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.index #username {
    display: block;
    color: #6bc8e4;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
.index #userscore {
    font-size: 30px;
    color: #000;
    text-align: center;
}
.link_group {
    overflow: hidden;
}
.link_group a {
    float: left;
    color: #737373;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 50%;
    padding-bottom: 10px;
}
.checkin_btn {
    position: relative;
    background: #cecece;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    width: 90%;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.checkin_btn span.tip {
    color: #63d578;
    display: none;
    padding-left: 5px;
    position: absolute;
    -webkit-animation: tip_up 1s ease-out both;
}
@-webkit-keyframes tip_up {
    0% {
        -webkit-transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
}
.checkin_btn.can {
    background: #63d578;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.checkin_btn.can:active {
    opacity: 0.8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.index_menu1 {
    background: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #f1f1f1;
}
.index_menu1 ul {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.index_menu1 li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3%;
    float: left;
    border-right: 1px dotted #cecece;
}
.index_menu1 li:last-child {
    border-right-width: 0;
}
.index_menu1 li a {
    display: block;
    width: 100%;
    text-decoration: none;
}
.index_menu1 li a:active {
    opacity: 0.8;
}
.index_menu1 li a img {
    width: 25px;
    height: 25px;
}
.index_menu1 li a p:nth-of-type(1) {
    color: #666666;
    font-size: 12px;
}
.index_menu1 li a p:nth-of-type(2) {
    font-size: 20px;
    color: #000;
    padding-top: 5px;
}
.index_menu2 {
    background: #fff;
    text-align: center;
    margin: 10px auto;
}
.index_menu2 ul {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.index_menu2 ul li {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.index_menu2 ul li a {
    background: #e5e5e5;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.index_menu2 ul li a:active {
    opacity: 0.8;
}
.index_menu2 ul li a > div {
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    height: 40px;
    margin-top: 30px;
}
.index_menu2 ul li a > div > img {
    width: 40px;
    height: 40px;
    float: left;
}
.index_menu2 ul li a > div > div {
    float: left;
    height: 100px;
    margin-left: 10px;
}
.index_menu2 ul li a > div > div > p {
    line-height: 20px;
}
.index_menu2 ul li a > div > div > p:nth-child(1) {
    color: #000;
    font-size: 16px;
}
.index_menu2 ul li a > div > div > p:nth-child(2) {
    color: #74a1bb;
    font-size: 12px;
}
.index_menu2 ul li:first-child a {
    border-right: 1px solid #fafafc;
    border-bottom: 1px solid #fafafc;
}
.index_menu2 ul li:nth-child(2) a {
    border-bottom: 1px solid #fafafc;
}
.index_menu2 ul li:last-child a {
    border-left: 1px solid #fafafc;
}
.index_footer {
    width: 90%;
    margin: 10px auto;
}
.index_footer a {
    display: block;
}
.index_footer img {
    max-width: 100%;
}
/*
    score detail
 */

.scoreMain {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
.scoreMain .scoreTop {
    overflow: hidden;
}
.scoreMain .scoreTop #username {
    float: left;
    color: #6bc8e4;
    line-height: 24px;
}
.scoreMain .scoreTop #userscore {
    float: right;
    color: #000;
    line-height: 24px;
}
.scoreMain .scoreTop #userscore span {
    font-size: 24px;
}
.scoreMain ul {
    margin: 10px auto;
}
.scoreMain ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
}
.scoreMain ul li:last-child {
    border-bottom: none;
}
.scoreMain ul li span {
    color: #000;
    display: inline-block;
    float: left;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.scoreMain ul li span.act_name {
    width: 75%;
}
.scoreMain ul li span.act_score {
    width: 25%;
}
.scoreMain ul li span.act_score.add {
    color: #ff0000;
}
.scoreMain ul li span.act_score.sub {
    color: #718e0d;
}
/*
    myself
 */

.myself.container {
    background: #fff;
}
.myself .back_top {
    height: 56px;
    background: url(../images/back_bg.png) repeat-x;
    background-size: 79px 100%;
    color: #fff;
}
a.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background: url(../images/back.png) no-repeat center center;
    background-size: 30px 30px;
}
p.back_center_text {
    height: 56px;
    line-height: 56px;
    text-align: center;
}
.myselfMain {
    padding: 0px 15px 20px;
    font-size: 14px;
}
.myselfMain ul li {
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #f2f2f2;
}
.myselfMain ul li:last-child {
    border-bottom: 0;
}
.myselfMain ul li span:first-child {
    float: left;
}
.myselfMain ul li span:last-child {
    color: #4a929d;
    float: right;
}
.myselfMain .myselfHead span:first-child {
    line-height: 60px;
}
.myselfMain .myselfHead span:last-child {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    overflow: hidden;
}
.myselfMain .myselfHead span:last-child img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}
.myselfMain .myselfScore a {
    display: block;
    overflow: hidden;
    color: #000;
}
.myselfMain .myselfScore a span span {
    float: none;
    padding-right: 5px;
}
.myselfMain ul li span input, .myselfMain ul li span select {
    -webkit-transition: 0.5 all;
    -webkit-appearance: none;
    text-align: right;
    outline: none;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}
.myselfMain ul li span input.inputfocus {
    border: 1px solid rgba(74, 146, 157, 0.5);
}
.myselfMain button.submit {
    width: 100%;
    -webkit-appearance: none;
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    background: #63d578;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*
    rule

 */

.rule .back_top {
    background: url(../images/rule_bg.png) no-repeat top left;
    background-size: 100% 100%;
    padding-bottom: 10px;
}
.rule .back_top img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}
.ruleMain {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.ruleMain .rule_title {
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 20px;
    border-bottom: 1px solid #d4d3d3;
}
.ruleMain .rule_detail {
    color: #74a1bb;
    font-size: 14px;
}
/*
    act
 */

.act.container, .coupon.container, .priceRecord.container {
    background: #f2f2f2;
}
.nav_top {
    background: url(../images/back_bg.png) repeat-x;
    background-size: 79px 100%;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
}
.nav_wrapper {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 8px;
}
.nav_top ul {
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
}
.nav_top ul li {
    float: left;
}
.nav_top ul li a {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.nav_top ul li a.active {
    background: rgba(41, 120, 144, 0.4);
}
.swiper-wrapper {
    overflow: hidden;
    margin-top: 56px;
}
.tab_main {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
}
.tab_main .no_data {
    margin: 15px 0 !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    text-align: center;
    font-size: 14px !important;
    background: #fff !important;
}
.tab_main .no_data img {
    height: 100px;
}
.tab_main .no_data p {
    color: rgba(0, 0, 0, 0.7) !important;
}
.swiper-slide {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab_main ul li a {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    background: #fff;
    padding: 10px;
    margin: 15px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.tab_main ul li a img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.tab_main ul li a p {
    font-size: 14px;
}
.tab_main ul li a .tab_main_title {
    margin-top: 10px;
    float: left;
    color: #629da6;
}
.tab_main ul li a .tab_main_btn {
    float: right;
    color: #fff;
    background: #63d578;
    padding: 5px 15px;
    margin-top: 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.coupon .tab_main ul li {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    background: #fff;
    padding: 10px 15px 5px;
    margin: 15px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}
.coupon .tab_main ul li.addFadeIn {
    -webkit-animation: addFadeIn 0.5s 0.35s ease both;
}
@-webkit-keyframes addFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.coupon .tab_main ul li p {
    color: #131313;
    font-size: 14px;
    margin-bottom: 5px;
}
.coupon .tab_main .cou_title {
    color: #629da6;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.coupon .tab_main .cou_money span {
    color: #ff0000;
}
.coupon .tab_main .cou_btn {
    background: #63d578;
    color: #fff;
    text-align: center;
}
.order .tab_main ul li {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    background: #fff;
    padding: 10px 15px 5px;
    margin: 15px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}
.order .tab_main ul li p {
    color: #131313;
    font-size: 14px;
    margin-bottom: 5px;
}
.order .tab_main .order_title {
    color: #629da6;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.order .tab_main .order_money span {
    color: #ff0000;
}
.order .tab_main .order_btn {
    background: #63d578;
    color: #fff;
    text-align: center;
}
.tab_main .state {
    width: 100px;
    position: absolute;
    right: -5px;
    top: 20px;
}
.priceRecord .tab_main ul li {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    background: #fff;
    padding: 10px 15px 5px;
    margin: 15px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}
.priceRecord .tab_main .pr_title {
    color: #629da6;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.priceRecord .tab_main ul li p {
    color: #131313;
    font-size: 14px;
}
.priceRecord .tab_main .pr_main {
    overflow: hidden;
    margin-top: 10px;
}
.priceRecord .tab_main .pr_main img {
    float: left;
    height: 60px;
    width: 60px;
}
.priceRecord .tab_main .pr_main .pr_text {
    line-height: 30px;
    margin-left: 10px;
    float: left;
}
.priceRecord .tab_main .pr_btn {
    width: 100%;
    display: block;
    background: #63d578;
    color: #fff;
    text-align: center;
}
/*
    my coupon
 */

.myCoupon .back_top {
    height: 56px;
    background: url(../images/back_bg.png) repeat-x;
    background-size: 79px 100%;
    color: #fff;
}
.myCouponMain {
    background: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
}
.myCouponMain ul a:first-child {
    margin-top: 0;
}
.myCouponMain ul a {
    color: #4a929d;
    display: block;
    padding: 10px;
    margin: 10px 0;
}
.myCouponMain ul a span {
    display: inline-block;
    float: right;
}
.btn_shadow {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.btn_shadow:active {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
