::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, img, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
body{
    background: url(../images/bg.png) repeat;
}
.container {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
}
#fp-nav span, .fp-slidesNav span {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
/*
    上滑提示
*/

.swipe_tip {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    z-index: 999999;
}
.swipe_tip p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -14px;
    width: 25px;
    height: 14px;
    background: url(../images/swipe_tip.png) no-repeat left top;
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
}
@-webkit-keyframes start {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}
/*
    音乐控制
*/

#bgm {
    display: none;
}
.music_control {
    display: none;
    z-index: 999999;
    position: fixed;
    width: 70px;
    height: 30px;
    top: 10px;
    right: 10px;
    font-size: 16px;
    overflow: hidden;
}
.music_control .music_state {
    color: #fff;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    opacity: 0;
    margin-left: 5px;
}
.music_control .music_icon {
    float: right;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: url(../images/music.png) no-repeat left top;
    background-size: 100% 100%;
}
.music_control .music_state.fadeIn {
    -webkit-animation: mfadeInLeft 1s ease-in-out both;
}
@-webkit-keyframes mfadeInLeft {
    0% {
        -webkit-transform: translateX(-45px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-45px);
        opacity: 0;
    }
}
.music_control.play .music_icon {
    -webkit-animation: rotate 1s linear both infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
/*
    动画
*/

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInTop {
    0% {
        -webkit-transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInBottom {
    0% {
        -webkit-transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
/*section，每个页面的样式设定*/

#fullpage {
    display: none;
}
#section1 {
    background: skyblue;
}
#section3 {
    background: orange;
}
.section, .slide {
    position: relative;
}
.fp-controlArrow{
    display: none;
}

/*
    加载页面
*/
.loading{
    position: fixed;
    background: #fe7c60;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: 100%;
    z-index: 999;
}
.loading img{
    width:600px;
    height:300px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-300px;
    margin-top:-150px;
}
.section{
    text-align: center;
    position: relative;
}
.flip-clock-wrapper{
    -webkit-animation:bounceIn 0.5s 1s ease-in both;
    width:300px;
    height: 100px;
    margin: 0;
    position: absolute;
    left:50%;
    top:0;
    margin-top:50px;
    margin-left:-150px;
}
.flip-clock-label{
    display: none;
}
.word{
    color:#fff;
    font-size:18px;
    text-shadow:2px 2px 1px rgba(0,0,0,1);
}
.word p{
    line-height: 30px;
}
.section.active .word1 p:nth-of-type(1){
    -webkit-animation:flipInY 1s 0.3s ease both;
}
.section.active .word1 p:nth-of-type(2){
    -webkit-animation:fadeIn 1s 1.3s ease both;
}
.section.active .word1 p:nth-of-type(2) span:nth-of-type(1){
    -webkit-animation:fadeIn 1s 1.3s ease both;
}
.section.active .word1 p:nth-of-type(2) span:nth-of-type(2){
    -webkit-animation:fadeIn 1s 2.3s ease both;
}
.section.active .word1 p:nth-of-type(2) span:nth-of-type(3){
    -webkit-animation:fadeIn 1s 3.3s ease both;
}
.section.active .word1 p:nth-of-type(2) span:nth-of-type(4){
    -webkit-animation:fadeIn 1s 4.3s ease both;
}
.section.active .word1 p:nth-of-type(3){
    -webkit-animation:flipInY 1s 5.3s ease both;
}
.section.active .word1 p:nth-of-type(4){
    -webkit-animation:flipInY 1s 6.3s ease both;
}
.section.active .word1 p:nth-of-type(5){
    -webkit-animation:flipInY 1s 7.3s ease both;
}
.section.active .word1 p:nth-of-type(6){
    -webkit-animation:flipInY 1s 8.3s ease both;
}
.word2{
    color:skyblue;
    font-size:18px;
    text-shadow:2px 2px 1px rgba(0,0,0,1);
}
.section.active .word2 p:nth-of-type(1){
    -webkit-animation:bounceInLeft 1s 0.3s ease both;
}
.section.active .word2 p:nth-of-type(2){
    -webkit-animation:bounceInLeft 1s 1.3s ease both;
}
.section.active .word2 p:nth-of-type(3){
    -webkit-animation:bounceInLeft 1s 2.3s ease both;
}
.section.active .word2 p:nth-of-type(4){
    -webkit-animation:bounceInLeft 1s 3.3s ease both;
}
.section.active .word2 p:nth-of-type(5){
    -webkit-animation:bounceInLeft 1s 4.3s ease both;
}
.section.active .word2 p:nth-of-type(6){
    -webkit-animation:bounceInLeft 1s 5.3s ease both;
}
.section.active .word2 p:nth-of-type(7){
    -webkit-animation:bounceInLeft 1s 6.3s ease both;
}
.section.active .word3 p:nth-of-type(1){
    -webkit-animation:fadeInBottom 1s 0.3s ease both;
}
.section.active .word3 p:nth-of-type(2){
    -webkit-animation:fadeInBottom 1s 1.3s ease both;
}
.section.active .word3 p:nth-of-type(3){
    -webkit-animation:fadeInBottom 1s 2.3s ease both;
}
.section.active .word3 p:nth-of-type(4){
    -webkit-animation:fadeInBottom 1s 3.3s ease both;
}
.word3{
    position: absolute;
    bottom:10%;
    left:50%;
    margin-left:-117px;
    text-align: left;
}
#section1 {
   background:url(../images/img1.jpg) no-repeat;
   background-size:100% 100%;
}
#section2 {
   background:url(../images/img2.jpg) no-repeat;
   background-size:100% 100%;
}
#section3 {
   background:url(../images/img3.jpg) no-repeat;
   background-size:100% 100%;
}
#section4 {
   background:url(../images/img4.jpg) no-repeat;
   background-size:100% 100%;
}
#section5 {
   background:transparent url(../images/img5.jpg) no-repeat bottom right;
   background-size:200px;
}
#section6 {
   background:transparent url(../images/img6.jpg) no-repeat bottom left;
   background-size:200px;
}
.word4,.word5{
    color:rgba(0,0,0,0.7);
    text-shadow:0 0 0 transparent;
    font-size:14px;
    text-align: left;
}
.word5{
    text-align: right;
    padding-right: 15px;
}
.word4 p{
    text-indent: 15px;
}
.section.active .word4 p:nth-of-type(1){
    -webkit-animation:RubberBand 1s 0.5s ease both;
}
.section.active .word4 p:nth-of-type(2){
    -webkit-animation:RubberBand 1s 1.5s ease both;
}
.section.active .word4 p:nth-of-type(3){
    -webkit-animation:RubberBand 1s 2.5s ease both;
}
.section.active .word4 p:nth-of-type(4){
    -webkit-animation:RubberBand 1s 3.5s ease both;
}
.section.active .word4 p:nth-of-type(5){
    -webkit-animation:RubberBand 1s 4.5s ease both;
}
.section.active .word4 p:nth-of-type(6){
    -webkit-animation:RubberBand 1s 5.5s ease both;
}
.section.active .word5 p:nth-of-type(1){
    -webkit-animation:LightSpeedIn 1s 0.5s ease both;
}
.section.active .word5 p:nth-of-type(2){
    -webkit-animation:LightSpeedIn 1s 1.5s ease both;
}
.section.active .word5 p:nth-of-type(3){
    -webkit-animation:LightSpeedIn 1s 2.5s ease both;
}
.section.active .word5 p:nth-of-type(4){
    -webkit-animation:LightSpeedIn 1s 3.5s ease both;
}
.section.active .word5 p:nth-of-type(5){
    -webkit-animation:LightSpeedIn 1s 4.5s ease both;
}
.section.active .word5 p:nth-of-type(6){
    -webkit-animation:LightSpeedIn 1s 5.5s ease both;
}
.section.active .word5 p:nth-of-type(7){
    -webkit-animation:LightSpeedIn 1s 6.5s ease both;
}
.section.active .word5 p:nth-of-type(8){
    -webkit-animation:LightSpeedIn 1s 7.5s ease both;
}
@-webkit-keyframes RubberBand {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    30% {
        -webkit-transform: scaleX(1.25) scaleY(0.75);
        transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
        -webkit-transform: scaleX(0.75) scaleY(1.25);
        transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
        -webkit-transform: scaleX(1.15) scaleY(0.85);
        transform: scaleX(1.15) scaleY(0.85);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes LightSpeedIn {
    0% {
        -webkit-transform: translateX(100%) skewX(-30deg);
        transform: translateX(100%) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: translateX(-20%) skewX(30deg);
        transform: translateX(-20%) skewX(30deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: translateX(0%) skewX(-15deg);
        transform: translateX(0%) skewX(-15deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(0%) skewX(0deg);
        transform: translateX(0%) skewX(0deg);
        opacity: 1;
    }
}

::-moz-selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}