/* 响应式 适应小屏幕*/
@media all and (max-width:480px){

	.owl-theme .owl-controls {
		margin-top: 5px;
	}
	.top .top_gallery{
		padding-left:3px;
	}
	.top .top_choice1 p a,
	.top .top_choice2 p a{
		padding-left:6px;
		padding-right:6px;
	}

	.pinpai .panel-heading{
		padding:10px 0;
	}
	.pinpai .panel-heading .plus{
		padding:0 5px;
	}
	.pinpai .panel-heading .plus div{
		margin-left:5px;
		margin-right:5px;
		margin-top:8px;
	}
	.pinpai .panel-heading .plus div p.logo_title{
		font-size:1em;
	}
	.pinpai .panel-heading .gif{
		margin-top:19px;
	}
	.pinpai .panel-heading .phone{
		margin-top:35px;
	}
	.pinpai .panel-body{
		padding-bottom:0;
	}
	.pinpai .panel-footer{
		padding-top:0;
	}


	.today_miaosha .daojishi span{
		width:20px;
		padding:0 3px;
		margin-left:-3px;
		margin-right:-3px;
	}


	.huiyuan div.user_head{
		margin-left:0;
	}
	.huiyuan_main .panel .panel-heading{
		padding:5px 10px;
	}
	.huiyuan_main .p1,
	.huiyuan_main .p2,
	.huiyuan_main .p3{
		top:-38px;
	}


	.huodong_content .panel-footer{
		padding-left:3px;
		padding-right:3px;
	}
	.huodong_content .huodong_title{
		font-size:1em;
	}
	.huodong_content .huodong_dazhe{
		font-size:1em;
	}


	.index_link .l1 a,
	.index_link .l2 a,
	.index_link .l3 a,
	.index_link .l4 a{
		padding-top:15px;
		padding-bottom:15px;
	}
	.index_link .l1 a,
	.index_link .l4 a{
		padding-bottom:17px;
	}
	.index_link .l2,
	.index_link .l3{
		font-size:1.2em;
	}
	.index_link .l1,
	.index_link .l4{
		font-size:1.1em;
	}

	.top .popup{
		width:60%;
	}
	.top .popup ul li a{
		padding-top:10px;
		padding-bottom:10px;
	}
	.search_result .search_class p{
		margin-left:10px;
		font-size:16px;
		padding-left:25px;
		padding-top:8px;
		padding-bottom:5px;
	}
	.search_result .search_class.sc_1 p{
		background:#fff url(../images/pinpai_ac.png) no-repeat left center;
		background-size:20px 20px;
	}
	.search_result .search_class.sc_2 p{
		background:#fff url(../images/huodong_ac.png) no-repeat left center;
		background-size:20px 20px;
	}
	.search_result .search_pinpai a:first-of-type{
		margin-left:5px;
	}
	.search_result .search_pinpai a:last-of-type{
		right:5px;
	}
	.search_result .search_pinpai > div > div p:first-child{
		font-size:1.1em;
	}
	.search_result .search_pinpai > div > div p{
		margin-bottom:2px;
	}
	.search_result .search_pinpai > div > div p:first-child{
		margin-left:0;
	}
	.search_result .search_pinpai > div > div p:last-child{
		margin-right:0;
	}
	.search_tip p{
		margin-top:5px;
		margin-bottom:5px;
	}

	.pinpai_detail p{
		font-size:1em;
	}

	.top .top_search2_btn .navbar-text a{
		padding-left:0;
		padding-right:0;
	}
}