/*
    reset
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
html {
    -webkit-text-size-adjust: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    max-width: 100% !important;
    height: auto !important;
}
a {
    text-decoration: none;
}
/*
    修复部分手机不支持border-radius百分比
*/

#fp-nav span, .fp-slidesNav span {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
/*
    上滑提示
*/

.swipe_tip {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    z-index: 999999;
}
.swipe_tip p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -14px;
    width: 25px;
    height: 14px;
    background: url(../images/swipe_tip.png) no-repeat left top;
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
}
@-webkit-keyframes start {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}
/*
    音乐控制
*/

#bgm {
    display: none;
}
.music_control {
    z-index: 999999;
    position: fixed;
    width: 70px;
    height: 30px;
    top: 10px;
    right: 10px;
    font-size: 16px;
    overflow: hidden;
}
.music_control .music_state {
    color: #fff;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    opacity: 0;
    margin-left: 5px;
}
.music_control .music_icon {
    float: right;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: url(../images/music.png) no-repeat left top;
    background-size: 100% 100%;
}
.music_control .music_state.fadeIn {
    -webkit-animation: mfadeInLeft 1s ease-in-out both;
}
@-webkit-keyframes mfadeInLeft {
    0% {
        -webkit-transform: translateX(-45px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-45px);
        opacity: 0;
    }
}
.music_control.play .music_icon {
    -webkit-animation: rotate 1s linear both infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
/*
    loading界面
*/

.loading {
    background: #c18c3d;
    position: absolute;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
}
.loading .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -35px;
    width: 70px;
    text-align: center;
}
.loading .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
    animation: bouncedelay 1.4s infinite ease-in-out both;
}
.loading .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loading .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}
/*
    动画
*/

@-webkit-keyframes fadeInBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(2000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.before {
    -webkit-animation: sectionBefore 1s ease backwards;
}
@-webkit-keyframes sectionBefore {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
    }
}
