.container {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
    background: skyblue;
}

#drag-1,
#drag-2 {
    width: 25%;
    height: 100%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
/*demo2*/

#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}
