* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#tab {
  font-weight: bold;
  font-size: 20px;
  color: #ffa500;
  max-width: 960px;
  margin: 10px auto;
  border: 2px solid #ffc0cb;
  border-radius: 5px;
}
#tab ul,
#tab li {
  list-style-type: none;
}
#tab #tab-nav {
  line-height: 50px;
  height: 50px;
  border-bottom: 2px solid #ffc0cb;
}
#tab #tab-nav li {
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  float: left;
}
#tab #tab-nav li:last-child {
  float: right;
}
#tab #tab-nav li:hover,
#tab #tab-nav li.active {
  background: #ffc0cb;
  color: #ffa500;
}
#tab #tab-body {
  padding: 15px;
  min-height: 200px;
}
#tab #tab-body li {
  display: none;
}
