html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    -webkit-text-size-adjust: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
html, body {
    height: 100%;
}
.container {
    max-width: 640px;
    position: relative;
    margin: 0 auto;
    background: url(../images/container_bg.jpg) no-repeat left top;
    background-size: 100% 100%;
    min-height: 100%;
    overflow: hidden;
}
/*
    help.html 样式
*/

.logo {
    width: 90px;
    margin-top: 15px;
    margin-left: 15px;
    -webkit-animation: fadeInDown 1s ease both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
.gift {
    position: relative;
}
.gift .gift_bg {
    position: absolute;
    width: 220px;
    left: 50%;
    margin-left: -110px;
    height: 55px;
    z-index: 9;
    top: 0;
}
.gift .gift_pic {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    top: 30px;
    max-height: 200px;
    width: 280px;
}
@-webkit-keyframes wobble {
    25% {
        -webkit-transform: rotate(4deg);
    }
    75% {
        -webkit-transform: rotate(-2deg);
    }
}
.main {
    z-index: 99;
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: url(../images/main_bg.png) repeat-x;
    background-position: 0 0;
    color: #fff;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 35px;
    -webkit-animation: fadeInBottom 1s ease both, wave 10s linear both infinite;
}
@-webkit-keyframes fadeInBottom {
    0% {
        -webkit-transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
.main.fadeOutBottom {
    -webkit-animation: fadeOutBottom 0.75s ease both;
}
@-webkit-keyframes fadeOutBottom {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(1000px);
        opacity: 0;
    }
}
@-webkit-keyframes wave {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: -100px 0;
    }
    100% {
        background-position: 0 0;
    }
}
span.user_name {
    color: #f9e23f;
}
.share_remain_tip {
    margin-bottom: 10px;
}
span.remain_count {
    display: inline-block;
    background: url(../images/remain_count.png) no-repeat center center;
    background-size: 30px 30px;
    color: #05c6f4;
    text-align: center;
    padding: 10px 20px;
}
.btn {
    margin-top: 10px;
    position: relative;
    width: 40%;
    display: inline-block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.btn img {
    vertical-align: middle;
    position: relative;
}
.btn:active {
    opacity: 0.8;
}
.btn:active img {
    top: 1px;
}
.help_btn {
    /*background: #db5565;*/
    
    margin-right: 1%;
}
.gift_btn {
    /*background: #e99620;*/
}
.get_btn {
    /*background: #f4ad49;*/
    
    margin: 0 auto;
}
.get_btn img {
    padding-top: 8px;
    padding-bottom: 8px;
}
.price_btn {
    margin-right: 2%;
}
.price_btn, .rule_btn {
    margin: 0;
}
.price_list {
    text-align: left;
    display: none;
    padding-bottom: 0;
}
.price_list_top > img {
    width: 70px;
    margin-top: 20px;
    margin-left: 30px;
}
.price_list_top .btn {
    float: right;
    width: 70px;
    background: #95cad7;
    margin-top: 20px;
    margin-right: 30px;
}
.price_list_top .btn img {
    text-align: center;
}
#iscroll_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
#iscroll_wrap ul {
    padding-bottom: 20px;
}
.price_list_open #iscroll_wrap li {
    -webkit-animation: fadeInDown 1s 0.7s ease both;
}
.price_list_open #iscroll_wrap .iScrollVerticalScrollbar.iScrollLoneScrollbar {
    -webkit-animation: fadeIn 1s 0.7s ease both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
}
.iScrollVerticalScrollbar.iScrollLoneScrollbar {
    right: 1px !important;
}
#iscroll_wrap li {
    background: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#iscroll_wrap li span {
    display: inline-block;
    vertical-align: middle;
}
#iscroll_wrap li span.list_head {
    overflow: hidden;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-left: 2%;
}
#iscroll_wrap li span.list_name {
    width: 23%;
    margin-left: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#iscroll_wrap li span.list_price {
    width: 32%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#iscroll_wrap li span.list_time {
    margin-right: 2%;
    width: 26%;
    text-align: right;
    color: #aca283;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rule_intro {
    text-align: left;
    display: none;
    padding-bottom: 0;
}
.rule_intro_top > img {
    width: 70px;
    margin-top: 20px;
    margin-left: 30px;
}
.rule_intro_top .btn {
    float: right;
    width: 70px;
    background: #95cad7;
    margin-top: 20px;
    margin-right: 30px;
}
.rule_intro_top .btn img {
    text-align: center;
}
.share_thank_btn, .share_help_btn, .open_btn {
    width: 90%;
}
.share_tip {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 999;
    position: absolute;
}
.share_tip img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
.share_peo {
    width: 70%;
    margin: 10px auto 0;
    text-align: left;
    position: relative;
}
.share_peo_tip {
    margin-bottom: 10px;
}
.share_peo_main {
    display: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
}
.share_peo_main .owl-stage-outer {
    position: relative;
    top: 7px;
}
.share_peo_main li {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}
.share_peo_main li span {
    height: 40px;
    width: 40px;
    display: inline-block;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
}
.share_peo_main li span img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
}
.scroll_tip {
    height: 54px;
    position: absolute;
    width: 13%;
    bottom: 0;
}
#scroll_pre {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: -13%;
    background: rgba(0, 0, 0, 0.3) url(../images/pre.png) no-repeat center center;
    background-size: 25px;
}
#scroll_next {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    right: -13%;
    background: rgba(0, 0, 0, 0.3) url(../images/next.png) no-repeat center center;
    background-size: 25px;
}
/*.pick {
    padding-bottom: 110px;
}*/

#pick_body {
    display: none;
}
.imgshadow {
    width: 250px;
    display: block;
    margin: 0 auto;
}
.imgshadow.anim {
    -webkit-animation: imgShadowAnim 0.5s ease both;
}
@-webkit-keyframes imgShadowAnim {
    0% {
        -webkit-transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
#pick_body .item img {
    width: auto;
    height: 161px;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
#pick_body .item img.anim {
    -webkit-transform-origin: center bottom;
    -webkit-animation: imgAnim 0.25s ease both;
}
@-webkit-keyframes imgAnim {
    0% {
        -webkit-transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(-8deg);
    }
    50% {
        -webkit-transform: rotate(0);
    }
    75% {
        -webkit-transform: rotate(8deg);
    }
    100% {
        -webkit-transform: rotate(0);
    }
}
#btn_choose {
    width: 90%;
    display: block;
    margin: 10px auto;
    position: relative;
}
#btn_choose:active {
    top: 1px;
    opacity: 0.8;
}
.register_form_wrap {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
.register_form {
    border: 2px solid #05c6f4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #e8e8e8;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -118px;
    color: #d6ad0a;
    font-size: 14px;
}
.register_form .close {
    position: absolute;
    top: -30px;
    left: 230px;
    width: 60px;
    height: 60px;
    background: url(../images/close2.png) no-repeat center center;
    background-size: 45px 45px;
}
.register_form .form_main {
    padding-top: 34px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.register_form .input-group {
    background: #116996;
    margin-left: 5%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 10px;
    overflow: hidden;
}
.register_form .input-group-addon {
    width: 25%;
    padding-left: 5%;
    padding-right: 2%;
    text-align: right;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}
.register_form input {
    color: #fff;
    width: 60%;
    border: none;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 2%;
    background: transparent;
    -webkit-appearance: none;
}
.register_form a {
    position: relative;
    width: 92%;
    display: block;
    margin-left: 4%;
}
.register_form a:active {
    top: 1px;
    opacity: 0.8;
}
#gift_list {
    display: none;
}
#gift_list .item .gift {
    padding-bottom: 250px;
}
#gift_list .item .gift img {
    height: 120px;
    width: auto;
    margin: 0 auto;
}
#gift_list .owl-controls {
    left: 0;
    right: 0;
    position: absolute;
    top: 115px;
}
.gift_list_wrap .main {
    padding-bottom: 15px;
    z-index: 99;
    -webkit-animation: wave 10s linear both infinite;
}
.gift_list_wrap .main > div {
    display: none;
}
.my_help_state {
    display: none;
}
/*

    gift
*/

.gift {
    padding-bottom: 200px;
}
.price_name {
    color: #f9e23f;
}
.pick_after {
    display: none;
    text-align: center;
}
.pick_giftbox {
    max-width: 200px;
    margin: 30px auto;
}
